mat-card {
    max-width: 300px;
    margin: 2em;
    text-align: center;
}

mat-chip-list {
    margin: 1em 0;
}

img {
    width: 100%;
}

button {
    margin: 1em;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
